* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  height: 100vh;
}

body {
  background: #191765;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

#menu-mobile .nav-items {
  display: none;
  z-index: 41;
}

#menu-mobile .active .nav-items {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
  top: 18px;
  height: 50%;
}

#nav-desktop {
  display: none;
}

#menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  display: flex;
  font-weight: 500;
  font-size: 19px;
  width: 150px;
  height: 60px;
  align-items: center;
  margin-left: 6%;
  color: #edecff;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px;
  margin: 25% auto 4% auto;
  padding-right: 60px;
  width: 94%;
}

#menu-mobile .active {
  margin-right: 5%;
  width: 100%;
  position: absolute;
  top: 2%;
  background: url(./assets/shape\ mobile\ menu-1.svg) no-repeat right bottom, url(./assets/shape\ mobile\ menu-2.svg) no-repeat left top;
  height: 100vh;
  background-color: #191765;
}

a {
  color: #ebebff;
  font-weight: 400;
}

.menuBtn .fas {
  font-size: 30px;
  cursor: pointer;
  color: #edecff;
}

#menu-mobile .active .fas {
  display: block;
  float: right;
  margin-right: 3%;
}

#menu-mobile .active li .fas {
  color: #acb7c3;
  font-size: 18px;
}

.social-media li {
  list-style-type: none;
}

.box li {
  list-style-type: none;
  padding: 10px;
  margin-left: 40px;
  font-weight: 400;
  color: #f5f5ff;
}

.languages li {
  border-right: #555 solid 2px;
  padding: 6px 20px;
  margin-right: 2px;
}

#menu-mobile .active .nav-items li {
  padding: 6%;
  display: inline-flex;
  justify-content: space-between;
  color: #edecff;
  font-size: 24px;
  margin: 2px 12px;
  width: 90%;
}

.headline h1,
.headline h2 {
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  width: 100%;
  color: #7d73fc;
  font-size: 48px;
}

.headline h2 {
  font-weight: 500;
  font-size: 30px;
  color: #edecff;
  width: 90%;
  height: 20%;
  padding: 2px;
  margin-left: 44px;
  margin-top: 18px;
}

p {
  margin: 2%;
  color: #f5f5ff;
}

footer p {
  margin: -50px auto 6% 4%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-left: auto;
  color: #ebebff;
  font-weight: 400;
  font-style: normal;
}

.headline p {
  color: #c8c8d4;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  padding: 2px;
  font-size: 20px;
}

.headline img {
  position: absolute;
  top: 10px;
  left: 6px;
}

.fa {
  font-size: 30px;
  font-weight: 400;
}

.menuBtn {
  width: fit-content;
  position: fixed;
  left: 90%;
  top: 2%;
  height: 5%;
}

.welcome-section {
  margin-top: 45px;
  width: 100%;
  background:
    url(./assets/Ellipse-18.svg) top left no-repeat,
    url(./assets/Ellipse-19.svg) right center no-repeat;
}

.social-media {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
}

.social-media img {
  height: 30px;
  margin: 3px;
  width: 20px;
}

hr {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
  color: #646369;
}

.social-media .fa {
  margin: 10px;
}

.social-media .fab {
  margin: 10px;
}

.box {
  width: 50%;
}

.skills-container {
  display: flex;
  height: 80vh;
  flex-wrap: wrap;
}

.box .titled-ld {
  color: #9490ff;
  font-weight: 500;
}

.work {
  display: grid;
  grid-template-columns: 100vw;
}

.project-item {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: aqua solid 2px;
  width: 60vw;
  align-items: center;
  align-content: space-around;
}

.one {
  background: no-repeat url("./assets/Ellipse\ 19@2x.svg") left top;
}

.work .two {
  background: url("./assets/Ellipse\ 20@2x.svg") no-repeat center right;
}

.work .three {
  background: url("./assets/Ellipse\ 21@2x.svg") no-repeat left center;
}

.work .four {
  background: url("./assets/Ellipse\ 22@2x.svg") no-repeat center right;
}

#cards {
  margin-top: 90px;
}

#cards .active .project-item {
  position: fixed;
  top: 0;
  left: 3.6%;
  background: #373665;
  width: 92%;
  height: 100vh;
  margin: 0 auto;
}

#cards .active .project-item .seeProject {
  display: none;
}

.btn-container button {
  width: 49%;
  font-size: 24px;
  margin: 10px 16%;
}

.btn-container .liveBtn {
  width: 48%;
  margin: auto;
}

.btn-container .liveSourceBtn {
  width: 64%;
  margin: auto;
}

.project-description .description .fas {
  position: fixed;
  top: 6px;
  left: 85%;
}

.btn-container {
  display: none;
}

.active .btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 18%;
  padding: 2%;
}

.btn-container span {
  font-size: 16.44px;
  margin: auto;
}

.active .project-description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-top: -2px;
  padding: 0 2%;
}

.active .project-description h2 {
  position: absolute;
  top: 0;
}

.active .project-img {
  margin-top: 65px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  border: solid aqua 2px;
  width: 60%;
}

.project-img {
  width: 327px;
  height: 206px;
  background-color: #fff;
}

.project-item h2 {
  font-weight: 500;
  padding: 20px;
  margin-left: -15px;
  text-align: start;
  font-style: normal;
  font-size: 32px;
  color: #fff;
}

.description {
  width: 327px;
  padding: 2px;
  height: 64%;
  line-height: 28px;
  text-align: start;
  color: #dcdce8;
  font-size: 20px;
}

.contact-form .description h2 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  color: #9390ff;
  letter-spacing: 1px;
}

.description p {
  font-weight: 400;
  font-style: normal;
}

button {
  border: none;
  color: #edecff;
  letter-spacing: 3%;
  width: 89px;
  height: 48px;
  cursor: pointer;
  margin-top: 4%;
  margin-right: 232px;
  font-weight: 400;
  font-size: 12px;
  background-color: #5e42d7;
}

.email-icon {
  width: 50px;
  height: 50px;
}

form button {
  width: 89px;
  background-color: #7d73fc;
  color: #edecff;
  height: 48px;
  margin: 40px auto;
  padding: 10px;
}

button .disabled {
  background: #2a2b33;
}

.description .fas {
  display: none;
}

.active .description .fas {
  display: block;
}

button:hover {
  background: #9e9bc0;
  opacity: 0.8;
  border: none;
  color: #edecff;
  letter-spacing: 3%;
  width: 100px;
  height: 48px;
  cursor: pointer;
  margin-top: 4%;
  margin-right: 232px;
  font-weight: 400;
  font-size: 12px;
}

button:enabled {
  background: #7d73fc;
}

button:active {
  background: #5e42d7;
}

form button:hover {
  width: 109px;
  background-color: #7d73fc;
  color: #edecff;
  height: 48px;
  margin: 40px auto;
  padding: 10px;
}

.next-page-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4%;
  font-weight: 500;
  justify-content: space-evenly;
}

.languages {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 400;
  color: #fff;
  height: 40px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
}

h3 {
  color: #9490ff;
  width: 320px;
  height: 104px;
  text-align: left;
  font-size: 38px;
  font-weight: 400;
  margin-left: 24px;
  margin-bottom: 24px;
}

.next-page {
  display: flex;
  width: 81px;
  font-size: 20px;
  align-items: center;
  color: #a2a3ae;
  margin-top: -24px;
  font-weight: 400;
  height: 60px;
  justify-content: space-around;
}

.right {
  display: none;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
}

.contact-form .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 92%;
  height: 180px;
  margin-left: 14px;
  padding: 4px;
  text-align: center;
}

.about-form h1 {
  color: #9390ff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 94%;
  height: 360px;
  margin-bottom: 10%;
  margin-top: 30px;
  margin-left: 12px;
  text-align: center;
}

form input {
  height: 50px;
  margin: 8px auto;
  width: 93%;
  padding: 15px 16px;
}

textarea {
  min-height: 148px;
  width: 93%;
  margin: 10px auto;
  padding: 15px 16px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 356px;
  margin-bottom: -16px;
}

footer .social-media {
  width: 80%;
  margin-top: -4px;
  margin-left: 56px;
}

/* Desktop version starts here */
@media (min-width: 992px) {
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5% auto;
    width: 668px;
    height: 80vh;
  }

  .active .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .active .project-img {
    width: 84%;
    height: 647px;
  }

  .active .description {
    width: 700px;
    position: relative;
    right: 154px;
  }

  #cards {
    /* border: #9390ff solid; */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    /* margin: 20px; */
    width: 100vw;
  }

  .active .description h2 {
    position: fixed;
    top: 0;
    left: 213px;
  }

  .description .fas {
    display: none;
  }

  .active .description .fas {
    display: block;
  }

  .active .project-description .languages {
    width: 88%;
    margin-top: -82px;
  }

  .btn-container {
    flex-direction: row;
    margin-top: -60px;
    margin-bottom: 58px;
    width: 48%;
  }

  .btn-container .liveBtn {
    margin: 50px;
  }

  .btn-container .liveSourceBtn {
    margin: 50px;
  }

  .logo {
    display: flex;
    font-weight: 500;
    font-size: 19px;
    width: 150px;
    height: 60px;
    align-items: center;
    color: #edecff;
  }

  .headline h1 {
    color: #7d73fc;
    font-size: 44px;
  }

  .headline h2 {
    text-align: center;
    margin-top: -48px;
  }

  .welcome-section hr {
    margin-left: 32%;
    margin-right: 32%;
    margin-top: -84px;
    margin-bottom: 10px;
    color: #646369;
  }

  .project-item {
    /* border: #dcdce8 solid 2px; */
    width: 10px;
  }

  #cards hr {
    margin-left: 148px;
    margin-right: 128px;
  }

  .headline p {
    margin: -89px 64px 0 64px;
    padding: 45px;
    color: #f5f5ff;
  }

  #about h3 {
    font-style: normal;
    font-size: 40px;
    width: 544px;
    padding-top: 49px;
    margin-left: 145px;
    font-weight: 700;
  }

  .social-media {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 60px;
  }

  .welcome-section {
    display: flex;
    margin-top: 45px;
    flex-direction: column;
    background: #191765;
  }

  .skills-container {
    margin: 2% 30%;
    width: 40vw;
    height: 50vh;
    padding: 2%;
    flex-wrap: nowrap;
  }

  .contact-form {
    width: 684px;
    height: 700px;
    margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 2%;
  }

  .contact-form .description {
    height: 268px;
  }

  .contact-form h2 {
    margin-left: 85px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 94%;
    height: 470px;
    padding-top: 70px;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }

  form input {
    height: 50px;
    width: 96%;
    margin: 12px;
    padding: 15px 16px;
  }

  textarea {
    margin: 12px;
    min-height: 148px;
    width: 96%;
    padding: 15px 16px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 684px;
    margin-top: 5px;
    height: 100px;
    align-items: flex-end;
    margin-left: 25%;
  }

  .nav-items span {
    display: block;
    width: 14%;
    margin-top: 6%;
    height: 4px;
    border-radius: 10%;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: #9490ff;
    transition-property: width;
    transition-duration: 1s;
  }

  .nav-items span:hover {
    width: 100%;
  }

  footer .social-media {
    margin: 2%;
  }

  .project-item {
    display:grid;
    grid-template-columns: auto auto auto;
    width: 96%;
    height: 500px;
    margin: 0 14px;
  }

  .reverse-item {
    flex-direction: row-reverse;
  }

  .project-img {
    width: 678px;
    height: 448px;
    background-color: #fff;
  }

  .project-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    margin-left: 2%;
    height: 88%;
  }

  .description h2 {
    width: 430px;
    text-align: start;
  }

  .project-item h2 {
    font-weight: 400;
    padding-bottom: 50px;
    font-size: 32px;
    margin: -4px;
  }

  .languages {
    margin-left: -32px;
    font-size: 15px;
    width: 85%;
  }

  #nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    position: fixed;
    top: 0;
    left: 30px;
    width: 85vw;
  }

  .menu-btn-desktop {
    width: 50px;
    height: 50px;
  }

  #nav-desktop .menu-btn-dsktop {
    background: transparent;
  }

  .nav-items {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 22px;
    font-weight: 100;
    color: #fff;
  }

  #menu-mobile {
    display: none;
  }

  .next-page-nav {
    display: flex;
    width: 1023px;
    align-items: baseline;
    height: 190px;
    justify-content: space-between;
    margin: 23px auto 0 auto;
    flex-direction: row;
  }

  .next-page {
    width: 100px;
  }

  .right {
    flex-direction: row-reverse;
    display: inline-flex;
  }

  .menu-btn {
    display: none;
  }

  .for-footer {
    width: 1440px;
    background-color: #3a3837;
    margin: auto;
  }

  .Circle-1 {
    width: 180px;
    position: relative;
    margin-left: -520px;
    height: 100px;
    border-radius: 50%;
    left: 400px;
    top: 220px;
    box-shadow: 414px 0 36px #fff;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: moving-blur;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .Circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 570px;
    left: 640px;
    box-shadow: 414px 0 36px #fff;
    animation-duration: 3.3s;
    animation-timing-function: ease-in-out;
    animation-name: bouncy-blur;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes moving-blur {
    from {
      box-shadow: 414px 0 56px #fff;
    }

    50% {
      box-shadow: 414px 0 66px #fff;
    }

    to {
      box-shadow: 414px 0 86px #fff;
    }
  }

  @keyframes bouncy-blur {
    0% {
      top: 570px;
    }

    100% {
      top: 370px;
    }
  }
}
